WebContent/wsdl/SiebelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://siebel.service.ebs.oracle" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://siebel.service.ebs.oracle" xmlns:intf="http://siebel.service.ebs.oracle" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://siebel.service.ebs.oracle" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="callSiebel">
    <complexType>
     <sequence>
      <element name="itemNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="callSiebelResponse">
    <complexType>
     <sequence>
      <element name="callSiebelReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="callSiebelResponse">

      <wsdl:part element="impl:callSiebelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="callSiebelRequest">

      <wsdl:part element="impl:callSiebel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SiebelService">

      <wsdl:operation name="callSiebel">

         <wsdl:input message="impl:callSiebelRequest" name="callSiebelRequest">

       </wsdl:input>

         <wsdl:output message="impl:callSiebelResponse" name="callSiebelResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SiebelServiceSoapBinding" type="impl:SiebelService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="callSiebel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callSiebelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="callSiebelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SiebelServiceService">

      <wsdl:port binding="impl:SiebelServiceSoapBinding" name="SiebelService">

         <wsdlsoap:address location="http://localhost:8080/EBSService/services/SiebelService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
